<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link id="style" rel="stylesheet" type="text/css" href="/assets/css/base.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Roglozor's personal website.">
<meta name="author" content="Roglozor">
<meta name="keywords" content="Roglozor, Personal, Blog, Godot, Pixel Art">
<link rel="me" href="https://mastodon.gamedev.place/@Roglozor">
<title>Roglozor's Randomness</title>
<link rel="icon" type="image/x-icon" href="/assets/img/icons/favicon.png">
</head>

<body>
<div id="page">
<header id="header">
<a href="https://roglozor.xyz"><h1>roglozor.xyz</h1></a>
</header>

<div id="deck">

<div id="l-wing">
<h1>
<input id="n" class="nav-toggle" type="checkbox">
<label for="n"><img class="nav-icon" src="/assets/img/icons/dark/menu.png">
Menu
</label>
</h1>
<br>

<nav class="nav-wing">
<b>-- Navigation --</b>
<br>
<a href="/"><img src="/assets/img/icons/dark/home.png"> Home</a>
<a href="/about/"><img src="/assets/img/icons/dark/about.png"> About</a>
<a href="/projects/"><img src="/assets/img/icons/dark/projects.png"> Projects
</a>
<a href="/gallery/"><img src="/assets/img/icons/dark/gallery.png"> Gallery</a>
<a href="/music/"><img src="/assets/img/icons/dark/music.png"> Music</a>
<a href="/library/"><img src="/assets/img/icons/dark/library.png"> Library</a>
<a href="/loved/"><img src="/assets/img/icons/dark/fav.png"> Loved</a>
<a href="/guestbook/"><img src="/assets/img/icons/dark/library.png"> Guestbook
</a>
<a href="/links/"><img src="/assets/img/icons/dark/links.png"> My Links</a>
<br>

<b>-- Offsite Stuff --</b>
<br>
<a href="https://roglozor.itch.io/">
<img src="/assets/img/icons/dark/itch.png"> itch.io</a>
<a href="https://www.youtube.com/@Roglozor">
<img src="/assets/img/icons/dark/youtube.png"> YouTube</a>
<a href="https://toyhou.se/Roglozor">
<img src="/assets/img/icons/dark/toyhouse.png"> Toyhouse</a>
<a href="https://mastodon.gamedev.place/@Roglozor">
<img src="/assets/img/icons/dark/mastodon.png"> Mastodon</a>
<a href="https://x.com/Roglozor">
<img src="/assets/img/icons/dark/x.png"> X/Twitter</a>
<br>
</nav>
<a href="https://roglozor.xyz" title="roglozor.xyz" style="text-align: center;
display: block; margin: auto;">
<img  style="image-rendering: pixelated;"
src="/assets/img/buttons/roglozor_2.gif" alt="Roglozor's button.">
</a>
<br>
</div>

<main>
{{content}}
</main>

<div id="r-wing">
<h1>Latest Additions</h1>
<br>
<nav class="nav-wing">
<a href="/library/getting-started/">
[2026-04-30] Blog: Getting this show on the road...
</a>
<a href="/gallery/jabbit64/">
[2026-02-10] Gallery: "Jabbit Avatar 64"
</a>
<a href="/gallery/jabbit-ref/">
[2026-01-22] Gallery: "Jabbit Ref Sheet"
</a>
</nav>
<br>

<h1>Change Log</h1>
<br>
<nav class="nav-wing">
<a href="/changelog/#2026-05-20">
[2026-05-20] RSS feed, Jabbit home page.
</a>
<a href="/changelog/#2026-04-30">
[2026-04-30] Total layout revision, migration to Eleventy.
</a>
<br>
</nav>

<a href="/rss.xml" style="text-align: center; display: block; margin: auto;">
<img  style="image-rendering: pixelated;" src="/assets/img/icons/dark/rss.png">
RSS Feed
</a>

<br>

</div>

</div>

<footer id="footer">
<p>&copy; 2024 - 2026 Roglozor. All Rights Reserved.</p>
</footer>
</div>
</body>

</html>
