@font-face {
  src: url(/assets/fonts/onest-v9-latin-regular.woff2);
  font-family: jetbrains;
}

/* Common theme vars. Colours are from the AAP-64 Palette on Lospec:
https://lospec.com/palette-list/aap-64 */
:root {
  --washed_green:             #cdf7e2;
  --dark_green:               #5daf8d;
  --bright_green:             #a6fcdb;
  --dull_green:               #92dcba;
  --black:                    #122020;
  --white:                    #ffffff;
  --purple:                   #bc4a9b;
  --eye_green:                #1a7a3e;
  --red:                      #b4202a;

  --text_size_normal_d:       15px;
  --text_size_normal_m:       16px;
  --header_size_d:            12px;
  --footer_size_d:            10px;
  --footer_size_m:            8px;

  --nav_desktop:              300px;
  --nav_tablet:               160px;
  --nav_mobile:               100%;

  --content_width:            800px;
}

/* Base theming. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: var(--washed_green);
  color: var(--black);
  font-family: jetbrains;
  font-size: var(--text_size_normal_d);
}

h1, h2, h3, h4, h5, h6, ul, li, p, a, b {
  word-wrap: break-word;
  max-width: var(--content_width);
  margin-left: auto;
  margin-right: auto;
  list-style-type: square;
}

a {
  color: var(--purple);
}

/* ID theming defaults. (Designed for desktop) */
/* #site is the container for the entire website. */
#site {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#header {
  min-height: 48px;
  height: 48px;
  padding: 0;
  width: 100%;
  max-width: 100%;
  line-height: 0;
  display:flex;
}

#header > iframe {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#nav_toggle {
  display: none;
}

/* #main is the container for the #nav and page #content.
(Everything between #header and #footer. */
#main {
  display: flex;
  flex-direction: row;
  gap: 0px;
  position: relative;
}

#nav {
  min-width: var(--nav_desktop);
  max-width: var(--nav_desktop);
  height: 100%;
  display: block;
  overflow-x: hidden;
  position: sticky;
  top: 0;
}

#nav > iframe {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  width: 100%;
  min-height: 800px;
}

/* The container for the actual page content. */
#content {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: var(--nav_desktop);
}

#content > article {
  word-wrap: break-word;
  max-width: var(--content_width);
  margin: auto;
  padding: 10px;
}

#footer {
  min-height: 64px;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 72px;
  line-height: 0;
  margin-top: auto;
}

#footer > iframe {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Class theming. */
.header {
  text-align: center;
  background: var(--dull_green);
  color: var(--black);
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: var(--header_size_d);
  line-height: 16px;
}

.nav {
  background: var(--dark_green);
  display: block;
  padding: 10px;
  overflow: hidden;
}

.nav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  color: var(--black);
  display: block;
}

.nav a:hover {
  color: var(--purple);
  background-color: var(--washed_green);
}

.nav img {
  image-rendering:pixelated;
}

.footer {
  text-align: center;
  background: var(--dull_green);
  color: var(--black);
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  font-size: var(--footer_size_d);
}

.card {
  background: var(--bright_green);
  max-width: 800px;
  margin: auto;
  padding: 10px;
  border: 2px solid var(--dark_green);
  border-radius: 16px;
}

.card a {
  text-decoration: none;
}

.fun-buttons li {
  display:inline;
}

.fun-buttons a {
  text-decoration: none;
}

.gallery {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4px;
}

.gallery a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.gallery-item {
  max-width: 180px;
  max-height: 180px;
  width: 180px;
  height: 180px;
  padding: 4px;
  border: 2px solid var(--dark_green);
  background: var(--bright_green);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.gallery-item:hover {
  border: 2px solid var(--white);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-item .desc {
  text-align: center;
  padding: 2px;
}

.gallery-card {
  max-width: 800px;
  margin: auto;
  padding: 16px;
  border: 2px solid var(--dark_green);
  background: var(--bright_green);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.gallery-card-art {
  max-height: 512px;
  height: 512px;
  margin: auto;
  padding: 8px;
  border: 2px solid var(--dull_green);
  background: var(--dark_green);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.gallery-card-art:hover {
  border: 2px solid var(--white);
}

.gallery-card-art img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery-card-switcher {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: space-between;
}

/* @media flags for other platforms. */
/* Desktop (Smaller) */
@media only screen and (max-width: 1440px) {
  #content {
    margin-right: 10px;
  }
}
/* Tablet */
@media only screen and (max-width: 1024px) {
  html, body {
    font-size: var(--text_size_normal_m);
  }
  #nav_toggle {
    display: inline-block;
  }
  #nav {
    min-width: var(--nav_tablet);
    max-width: var(--nav_tablet);
    display: block;
  }
  #content {
    margin-right: 10px;
  }
  .footer {
    font-size: var(--footer_size_m);
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  html, body {
    font-size: var(--text_size_normal_m);
  }
  #nav_toggle {
    display: inline-block;
  }
  #nav {
    min-width: var(--nav_mobile);
    /*display: none;*/
    position: absolute;
    z-index: 10;
  }
  #content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer {
    font-size: var(--footer_size_m);
  }
  .gallery-item {
    max-width: 150px;
    max-height: 150px;
    width: 150px;
    height: 150px;
  }
  .gallery-card-art {
    max-height: 256px;
    height: 256px;
  }
}

